@import '../../../assets/stylesheets/colors.scss';
@import '../../../assets/stylesheets/fonts.scss';
@import '../../../pages/LeftPanel/LeftPanel.module.scss';

#modal {
  @include box-styling;
  font-family: $raleway;
  letter-spacing: 0.5px;
}

#close {
  float: right;
  cursor: pointer;
}

#header {
  @include box-header-alignment;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  border: 1px solid black;
}

#groupFlexbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  width: 100%;
  border: 1px solid black;
}

#menuFlexbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-around;
  width: 100%;
  border: 1px solid black;
}

#specsFlexbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
}

#devicesFlexbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
}

#inputFlexBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  input {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: inherit;
  }
  border: 1px solid black;
}

#time {
  width: 30%;
  input {
    width: 100%;
  }
}

#hastooltip {
  margin: 0.2rem;
  @include hastooltip($tooltip-transition-in-duration: 0.3s);
}

#tooltip {
  min-width: 10em;
  padding: 0.5em 0.5em;

  box-shadow: 0 0.05em 0.15em rgba(black, 0.1);
  @include tooltip;
}
